@model BookShop.Models.Category

@{
    var title = Model?.Id != 0 ? $"Update {Model.Name}" : "Create Category";

    var contentButton = Model?.Id != 0 ? "<button type='submit' class='btn btn-primary'> <i class='fas fa-save'></i> </button>" : "<button type='submit' class='btn btn-primary'> <i class='fas fa-save'></i> </button>";

    var actionSubmit = Model?.Id != 0 ? "Edit" : "Create";

}

<h2>@title</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@actionSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model != null)
            {
                <input type="hidden" asp-for="Id" />
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                @Html.Raw(contentButton)
            </div>
        </form>
    </div>
</div>

<div class="float-left pb-2">
    <a class="btn btn-primary" href="@Url.Action("Index","Categories", new {Area = "Admin"})">
        <i class="fas fa-backward"></i>
    </a>
</div>


